<div class="main_wrapper" style="height:100%;">
<div class="ui inverted segment">
  <div class="ui fixed inverted menu">
    <span href="#" class="header item">
      <i class="comments outline icon"></i>
      Taulkback
    </span>
    <a class="item" href="/home">Home</a>
    <a class="item" href="/new">New Post</a>
    <a class="item" href="likes">Likes</a>
    <span class="item">Logged in as {{#name}}{{.}}{{/name}}</span>
    <a class="item" href="/logout">Logout</a>
  </div>
  <br>
    <h1 class="ui center aligned icon inverted header"><i class="comments outline icon"></i>Welcome, {{#name}}{{.}}{{/name}}</h1>
</div>



<div class="ui inverted raised very padded text container segment">
  <ul>
    <div>
      <h1 class="h1">Post Feed</h1>
    </div>
    <div class="postsdiv" style="overflow:auto; max-height:300px">

      {{#posts}}
        <div class="postwrapper">

            <div class="">{{user.name}}</div>
            <div class="">{{title}}</div>
            <div class="">{{body}}</div>
            <div class="">{{createdAt}}</div>

            <form class="" action="/like" method="post">
              <button class="ui inverted tiny teal button" type="submit" name="submitbtn"><i class="thumbs up icon"></i></button>
              <button class="ui inverted tiny teal button" type="submit" name="submitbtn"><i class="times icon"></i></button>
            </form>

        </div>
      {{/posts}}

    </div>
    </ul>
  </div>
  </div>


  {{> footer}}
